<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <group groupName="javaScriptServices">
        <pipelines>
          <import>
            <processor type="jss_process_layouts.Pipelines.JssImport.ProcessLayouts, jss-process-layouts"
                       patch:after="processor[@type='Sitecore.JavaScriptServices.AppServices.Pipelines.Import.ProcessRenderings, Sitecore.JavaScriptServices.AppServices']"
                       resolve="true" />
          </import>
        </pipelines>
      </group>
      <group groupName="layoutService">
        <pipelines>
          <getLayoutServiceContext>
            <processor type="jss_process_layouts.Pipelines.GetLayoutServiceContext.ResolveLayout, jss-process-layouts"
             patch:after="processor[@type='Sitecore.LayoutService.ItemRendering.Pipelines.GetLayoutServiceContext.LanguageContext, Sitecore.LayoutService']" />
          </getLayoutServiceContext>
      </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>